@model CarInfo.Models.TblCar

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarDetails</title>
</head>
<body>
    <div>
        <h4>TblCar</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Car_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Car_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Transmission)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Transmission)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fuel_Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fuel_Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Features)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Features)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Car_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
